.footer {
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    font-size: 1.5rem;
}

.adalab {
    text-decoration: none;
    color: turquoise;
    font-weight: bold;
    
}