.footer {
    background-color: $bg-color;
    color: $text-color;
    font-family: $text-font;
    padding: 20px;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    opacity: 0.5;
    width: 100vw;
}

.adalab {
    text-decoration: none;
    color: turquoise;
    font-weight: bold;
    
}