.footer {
    background-color: $bg-color;
    color: $text-color;
    font-family: $text-font;
    padding: 20px;
    font-size: 1.5rem;
}

.adalab {
    text-decoration: none;
    color: turquoise;
    font-weight: bold;
    
}