.header {
    background-color: $bg-color;    
    &__img {
        width: 100%;
        @media screen and (min-width: 768px){
            width: 20%;
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }
}