.main {
    background-color: black;
    // height: 100vh;
    
    &__list {
        display: flex;
        justify-content: center;  
        
        }
    }


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
}

.input {
    height: 30px;
    box-shadow: 0 0 20px 0 rgba(0,255,83,1);
    border-radius: 5px;
    border-color: rgb(66, 208, 208);
    width: 50%;
    @media screen and (min-width: 768px) {
        width: 20%;
        margin-top: 2%;
    }
}

.speciesSelect {
    height: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 255, 83, 1);
    border-radius: 5px;
    border-color: rgb(66, 208, 208);
    width: 50%;
    margin-top: 2%;
    @media screen and (min-width: 768px) {
        width: 20%;
        margin-top: 2%;
    }
}

.cardsContainer {
    margin: 20px;
    @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
        }
    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.liElements {
    margin-bottom: 20px;
    text-align: center;
}

.errorSearchMessage {
    background-color: rgba(0, 255, 83, 1);
    font-family: sans-serif;
    margin-top: 20px;
    width: 50%;
    align-self: center;
    padding: 5px;
    box-shadow: 0 0 20px 0 rgb(66, 208, 208);
    color: teal;
    
}
