@import '../core/variables';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.input {
    height: 30px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    border-color: $primary-color;
    width: 50%;
    :hover {        
        display: block;
        opacity: 1;
    }
    @media screen and (min-width: 768px) {
        width: 20%;
        margin-top: 2%;
    }
}

.messageContainer {
    height: 100vh;
}

.errorSearchMessage {
    background-color: $secondary-color;
    font-family: $text-font;
    margin-top: 20px;
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    box-shadow: $box-shadow-rev;
    color: teal;
}

.messageImg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
}


