//colors
$primary-color: rgb(66, 208, 208);
$secondary-color: rgba(0, 255, 83, 1);
$bg-color: black;
$text-color: white;

//fonts
$text-font: sans-serif;

//shadows
$box-shadow: 0 0 20px 0 rgba(0, 255, 83, 1);
$box-shadow-rev: 0 0 20px 0 rgb(66, 208, 208);