@import './core/variables';

.main {
    background-color: $bg-color;
    
}

.detailCardBorder {
    background-color: $bg-color;
    height: 100vh;
    &__link {
        text-decoration: none;
        color: $text-color;
        display: inline-block;
        padding: 5px;
        position: relative;
        left: 65%;
        font-family: $text-font
    }
    
}

.detailCard {
    background-color: $primary-color;
    width: 60%;
    margin: auto;
    box-shadow: $box-shadow;
    &__img {
        width: 80%;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        @media screen and (min-width: 768px) {
           width: 150px;
           left: 0;
           transform: translate(10%);
           padding-right: 10px;
        }
    }
    &__text {
        color: $bg-color;
        padding-left: 20px;
        padding-bottom: 20px;
        font-family: $text-font;
        line-height: 30px;
        @media screen and (min-width: 768px) {
           line-height: 1.5;
           position: relative;
           transform: translateY(10%);
           padding-left: 10px;
           padding-right: 10px;
           font-size: 0.9rem;
           align-self: center;
        }
        &--name {
            font-weight: bold;
            font-size: 1.5rem;
            padding-bottom: 5px;
            @media screen and (min-width: 768px) {
                font-size: 1rem;
                padding: 0;
            }
        }
    }
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            width: 40%;
        }
}