@import './core/variables';

.characterCard {
    background-color: $primary-color;
    box-shadow: $box-shadow;
    padding: 5px;
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &__img {
        width: 150px;
    }
    &__name {
        font-family: $text-font;
        font-weight: bold;
        color: $bg-color;
        text-decoration: none;
        
    }
    &__species {
        color: $bg-color;
    }
}

.cardLink {
    text-decoration: none;
    :hover {
        background-color: $secondary-color;
        box-shadow: $box-shadow-rev;
    }
}